<p-panel [showHeader]="true" header="Pipes personalizados" class="p-1">

  <p>
    Pipes personalizados - creados por {{'nosotros'| toggleCase:isUpperCase}}
  </p>
</p-panel>


<p-toolbar>

  <div class="p-toolbar-group-start">

    <p-button (click)="toggleUpperCase()" label="toggleCase" icon="pi pi-search"></p-button>

  </div>

  <div class="p-toolbar-group-end">


    <p-button (onClick) ="changeorder('name')" class="mr-2" label="Por nombre" icon="pi pi-sort" styleClass="p-button-success"></p-button>

    <p-button (onClick) ="changeorder('canFly')" class="mr-2" label="por volar" icon="pi pi-sort" styleClass="p-button-danger"></p-button>

    <p-button (onClick) ="changeorder('color')" class="mr-2" label="por color" icon="pi pi-sort" styleClass="p-button-help"></p-button>



  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="heroes">

      <p-table [value]="heroes | sortBy:orderby" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>

                <th>Name</th>
                <th>vuela</th>
                <th>color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
            <tr>

                <td>{{ hero.name }}</td>
                <td>{{ hero.canFly | canFly| titlecase }}</td>
                <td>{{ hero.color}}</td>
            </tr>
        </ng-template>
    </p-table>

    </p-panel>


  </div>

</div>
